body{
    margin: 0px
}
.main { 
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-areas: "home litter nakano game other" "b c c c c" "d d d d d";
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 1.5em 1fr 3em
}
nav{
    background-color: gray;
    text-align: center;
    vertical-align: middle;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, .5);
    margin: 0px
}
#home nav {
    grid-area: home; padding: 1em ;margin: 0px
}
#litter nav{
    grid-area: litter; padding: 1em ;margin: 0px
}
#nakano nav{
    grid-area: nakano; padding: 1em ;margin: 0px
}
#game nav{
    grid-area: game; padding: 1em ;margin: 0px
}
#other nav{
    grid-area: other; padding: 1em ;margin: 0px
}
aside {
    grid-area: b; 
    padding: 1em;
    margin: 0px
}
section { 
    grid-area: c; 
    padding: 1em;
    margin: 0px 
}
footer { 
    grid-area: d; 
    padding: 1em;
    margin: 0px
}