body{
    margin: 0px
}
.main { 
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-areas: "home litter nakano game other" "b c c c c" "d d d d d";
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 1.5em 1fr 3em
}
nav{
    text-align: center;
    vertical-align: middle;
    background: mediumseagreen;
    box-shadow: 2px 2px 4px inset;
    margin: 0px
}
#home nav {
    grid-area: home; padding: 1em ;margin: 0px
}
#litter nav{
    grid-area: litter; padding: 1em ;margin: 0px
}
#nakano nav{
    grid-area: nakano; padding: 1em ;margin: 0px
}
#game nav{
    grid-area: game; padding: 1em ;margin: 0px
}
#other nav{
    grid-area: other; padding: 1em ;margin: 0px
}
aside {
    grid-area: b;
    background:wheat; 
    padding: 1em;
    margin: 0 1em 0 0;
    border-radius: 9px;
}
article { 
    grid-area: c;
    background:wheat;  
    padding: 1em;
    margin: 0px;
    border-radius: 9px;
}
footer { 
    grid-area: d;
    background:wheat;  
    padding: 1em;
    margin: 0px
}
.noline {/*リンクを他と同じように表示*/
    text-decoration: none;
    color: midnightblue;
}
.box4{/*タイトルで使ってる枠*/
    padding: 8px 19px;
    margin: 2em 0;
    background: wheat;
    border-bottom: solid 5px #5989cf;
}
.limg{/*litterの画像用*/
    display: inline-block;
    text-align: center;